* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 200px 1fr;

  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

header {
  background-color: #47dae2;
  grid-area: header;
}
nav {
  background-color: #9e58b1;
  grid-area: nav;
}
main {
  background-color: #89a44c;
  grid-area: main;
}
footer {
  background-color: #c28551;
  grid-area: footer;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-rows: 100px 100px 1fr 100px;
    grid-template-columns: 1fr;

    grid-template-areas:
      "header "
      "nav"
      "main"
      "footer";
  }
}
